body{
  background: #f2f2f2;
  font-family: 'Open Sans' ,sans-serif;
}

a{
  text-decoration: none;
}

/* --- ---Barra Lateral--- --- */
.barra-lateral{
  background: #262a34;
  color:#fff;
  min-width: 300px;
  min-height: 100vh;
}

.barra-lateral a{
  color: #fff;
}

/* Logo */
.barra-lateral .logo{
  background: #0275db;
}

.barra-lateral .logo h2{
  font-size: 30px;
  font-family: 'Roboto',sans-serif;
  text-align: center;
  font-weight: 300;
}

/* MENU */
.barra-lateral .menu a{
  display:block;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}


.barra-lateral .menu a:hover{
  background: #35ae6b;
}

.barra-lateral .menu a svg{
  margin-right: 10px;
}

/* MAIN */
.main{
  padding-top: 40px;
}
.main .columna{
  padding: 0 40px;
}
.main .titulo{
  color: #262a34;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}
.main .widget{
  margin-bottom: 40px;
}

/* Widget Nueva Entrada */
.main .nueva_entrada form input[type="text"],
.main .nueva_entrada form textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);
}

.main .nueva_entrada form textarea{
  height: 400px;
  min-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

.main .nueva_entrada button{
  background: #0275d8;
  cursor: pointer;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  display: inline-block;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  transition: .3s ease all;
}

.main .nueva_entrada button:hover{
  background: #025aa5;
}

.main .nueva_entrada button svg{
  margin-right: 10px;
}


/* Media Querys */
@media screen  and (max-width:320px){
  
}
@media screen  and (max-width:576px){
  .barra-lateral {
    min-height: auto;
  }
}
@media screen  and (max-width:768px){
  
}
@media screen  and (max-width:992px){
  
}
@media screen  and (max-width:1200px){
  .barra-lateral{
    min-width: auto;
  }
  .barra-lateral .logo{
    display: none;
  }
  .barra-lateral .menu a svg{
    display: none;
  }
}
@media screen  and (max-width:1400px){
  
}